<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jw.reservation.repository.HolidayDao">

    <select id="getHoliday" resultType="Holiday">
        SELECT HOLI_ID
              , DOC_ID
              , HOLI_DT
              , DEL_YN
              , REG_DT
              , MOD_DT
        FROM HO_HOLI
        <where>
        	<if test="holiId != null"> 
      			HOLI_ID = #{holiId}
			</if>
        	<if test="docId != null"> 
      			DOC_ID = #{docId}
			</if>
        	<if test="holiDt != null"> 
      			HOLI_DT = #{holiDt}
			</if>
        	<if test="delYn != null"> 
      			DEL_YN = #{delYn}
			</if>
        </where>
    </select>
  
    <insert id="insert" parameterType="Holiday">
      INSERT 
      	INTO HO_HOLI 
      		(DOC_ID
      		, HOLI_DT
      		, DEL_YN
      		, REG_DT
      		)
      	VALUES 
      		(
      		#{docId}
      		, FORMATDATETIME (#{holiDt, jdbcType=TIMESTAMP}, 'yyyy-MM-dd')
      		, #{delYn}
      		, NOW()
      		)
    </insert>
    
    <update id="modify" parameterType="Holiday">
      UPDATE HO_HOLI
      	<set>
      		<if test="docId != null"> 
      			DOC_ID = #{docId},
			</if>
        	<if test="holiDt != null"> 
      			HOLI_DT = FORMATDATETIME (#{holiDt, jdbcType=TIMESTAMP}, 'yyyy-MM-dd'),
			</if>
        	<if test="delYn != null"> 
      			DEL_YN = #{delYn},
			</if>
      		MOD_DT = NOW()
      	</set> 
      	WHERE 
      		DOC_ID = #{docId}
      	AND HOLI_DT = FORMATDATETIME (#{holiDt, jdbcType=TIMESTAMP}, 'yyyy-MM-dd')
    </update>

</mapper>