<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jw.reservation.repository.ReservationDao">
	
	<resultMap id="resResultMap" type="com.jw.reservation.model.Reservation">
		<id column="RES_ID" jdbcType="VARCHAR" property="resId"/>
		<id column="DOC_ID" jdbcType="VARCHAR" property="docId"/>
		<id column="MBR_ID" jdbcType="VARCHAR" property="mbrId"/>
		<result column="REV_DT" jdbcType="TIMESTAMP" property="revDt"/>
		<association property="doctor" javaType="com.jw.reservation.model.Doctor"/>
		<association property="member" javaType="com.jw.reservation.model.Member"/>
    </resultMap>
    
    <select id="getList" resultType="Reservation" parameterType="com.jw.reservation.form.ReservationForm">
	SELECT 
		RES_ID
		, RS.MBR_ID
		, RS.DOC_ID
		, REV_DT
		, REV_ST_DT
		, REV_MT
		, REV_END_DT
		, RS.REG_DT
		, RS.DEL_YN
		, DOC_NM
		, DD.DOC_CD
		, MBR_NM
		, MBR_CP_NO
	FROM 
		RE_RES RS 
		JOIN DO_DOC DD 
		ON RS.DOC_ID = DD.DOC_ID 
		JOIN MB_MBR MM 
		ON RS.MBR_ID = MM.MBR_ID 
		<where>
			<if test="revDt != null"> 
				AND REV_DT = FORMATDATETIME (#{revDt, jdbcType=TIMESTAMP}, 'yyyy-MM-dd')
			</if> 
			<if test="docId != null"> 
				 AND DD.DOC_ID = #{docId, jdbcType=VARCHAR}
			</if>
			<if test="delYn != null"> 
				 AND RS.DEL_YN = #{delYn, jdbcType=VARCHAR}
			</if>
			<if test="docCd != null"> 
				 AND DD.DOC_CD = #{docCd, jdbcType=VARCHAR}
			</if>
			<if test="revDt != null"> 
				 AND REV_DT = #{revDt, jdbcType=TIMESTAMP}
			</if>
			<if test="revStDt != null and revEndDt != null"> 
				 AND (REV_ST_DT >= #{revStDt, jdbcType=TIMESTAMP} AND REV_ST_DT >= #{revEndDt, jdbcType=TIMESTAMP})
				 AND (REV_END_DT >= #{revStDt, jdbcType=TIMESTAMP} AND REV_END_DT >= #{revEndDt, jdbcType=TIMESTAMP})
			</if>
		</where>
		ORDER BY REV_DT
    </select>

    <insert id="insert" parameterType="Reservation">
      
    </insert>
    
    <update id="modify" parameterType="Reservation">
      UPDATE RE_RES
      <set>
      	<if test="delYn != null"> 
   			DEL_YN = #{delYn},
		</if>
      </set>
      WHERE 
      		RES_ID = #{resId}
    </update>

</mapper>